* {
  margin: 0;
  padding: 0; }

.fondo--button {
  background-color: #0d6efd; }

.fondo--main {
  background-color: white; }

.fondo--footer {
  background-color: black; }

/* estilo del header */
header {
  position: relative;
  background-color: black;
  color: #fff;
  overflow: hidden;
  width: 100%; }
  header::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 60%;
    background-image: url(../img/publico.jpg);
    background-repeat: no-repeat;
    background-position-y: 36%;
    background-size: cover; }
  header .nav-link {
    transition: 0.2s; }
    header .nav-link:hover {
      text-decoration: underline;
      text-shadow: 2px 3px 0 #000;
      transition: 0.2s;
      transform: scale(1.05); }
  header .logo {
    max-width: 250px;
    animation: palpitacion 2s infinite linear; }

@keyframes palpitacion {
  0% {
    transform: scale(1); }
  50% {
    transform: scale(1.2); }
  100% {
    transform: scale(1); } }

/* estilo de slider */
#slider {
  width: 100%;
  /* margin-top: 3rem; */
  border: hidden;
  overflow: hidden; }
  #slider__leyenda {
    overflow: hidden;
    /* height: 100%; */
    display: flex;
    align-items: center;
    white-space: nowrap;
    animation-duration: 50s;
    animation-name: slidein;
    animation-timing-function: linear;
    animation-iteration-count: infinite; }
    #slider__leyenda h2 {
      font-size: 2.2em;
      text-shadow: -3px 3px 0 #83bcf6; }

@keyframes slidein {
  from {
    margin-left: 100vw; }
  to {
    margin-left: -5000px; } }

/* estilo del main */
#main {
  box-shadow: inset 0 0px 100px black;
  padding-left: 0;
  padding-right: 0; }
  #main__box h1 {
    font-size: 2.7rem; }
  #main__box h2 {
    font-size: 2.64em; }
  #main__box span {
    font-weight: 900;
    text-shadow: -1px 1px 0 #83bcf6; }
  #main__box__parrafo, #main__box .artistas {
    font-size: 1.5em; }
  #main__box .artistas {
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px; }
  #main__box button {
    font-size: 1.5em; }
  #main__box ul li a {
    font-size: 1.5em; }
  #main__box .carousel-item p {
    font-size: 1.5em; }

/* estilo de img page-mapa */
.img-mapa {
  width: 30%;
  height: 30%; }

/* estilo de page-galeria */
.contenedorGaleria__img {
  position: relative;
  transition: 1s; }
  .contenedorGaleria__img:hover {
    transform: scale(1.1);
    transition: 1s;
    z-index: 1; }

/* estilo de page-mapa */
.contenedorMapa__info ul li {
  list-style: none; }

/* footer */
footer {
  width: 100%;
  /* estilo de auspiciantes en footer */ }
  footer button {
    transition: 0.2s; }
    footer button:hover {
      opacity: 80%;
      transition: 0.2s; }
  footer ul li:nth-child(-n+4) {
    margin-right: 0.5rem; }
  footer ul li img {
    width: 27px;
    height: 27px; }
  footer .auspiciantes {
    margin-top: -6px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center; }
    footer .auspiciantes a img {
      width: 12rem;
      height: 8rem;
      border-radius: 10%;
      padding: 7px; }

@media (max-width: 370px) {
  header .logo {
    width: 200px; } }

@media (max-width: 990px) {
  footer ul li:nth-child(-n+4) {
    margin-right: 0.3rem; }
  footer ul li img {
    width: 22px;
    height: 22px; } }

@media (max-width: 890px) {
  footer ul li img {
    width: 20px;
    height: 20px; } }
