* {
  margin: 0;
  padding: 0;
}

/* estilo del header */
header {
  position: relative;
  background-color: black;
  color: #fff;
  overflow: hidden;
  width: 100%;
}

header::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 60%;
  background-image: url(../img/publico.jpg);
  background-repeat: no-repeat;
  background-position-y: 36%;
  background-size: cover;
}

header .nav-link {
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

header .nav-link:hover {
  text-decoration: underline;
  text-shadow: 2px 3px 0 #000;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

header .logo {
  max-width: 250px;
  -webkit-animation: palpitacion 2s infinite linear;
          animation: palpitacion 2s infinite linear;
}

@-webkit-keyframes palpitacion {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes palpitacion {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

/* estilo de slider */
#slider {
  width: 100%;
  /* margin-top: 3rem; */
  border: hidden;
  overflow: hidden;
}

#slider__leyenda {
  overflow: hidden;
  /* height: 100%; */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  white-space: nowrap;
  -webkit-animation-duration: 50s;
          animation-duration: 50s;
  -webkit-animation-name: slidein;
          animation-name: slidein;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  text-shadow: -3px 3px 0 #83bcf6;
  text-transform: uppercase;
}

@-webkit-keyframes slidein {
  from {
    margin-left: 100vw;
  }
  to {
    margin-left: -5000px;
  }
}

@keyframes slidein {
  from {
    margin-left: 100vw;
  }
  to {
    margin-left: -5000px;
  }
}

/* estilo del main */
#main {
  background-color: #fff;
  -webkit-box-shadow: inset 0 0px 100px black;
          box-shadow: inset 0 0px 100px black;
  padding-left: 0;
  padding-right: 0;
}

#main__box {
  background-color: #fff;
}

#main__box h2 {
  font-size: 3em;
}

#main__box span {
  font-weight: 900;
  text-shadow: -1px 1px 0 #83bcf6;
}

#main__box__parrafo {
  font-size: 1.5em;
}

#main__box button {
  font-size: 1.5em;
}

#main__box ul li a {
  font-size: 1.5em;
}

#main__box .carousel-item p {
  font-size: 1.5em;
}

/* estilo de img page-mapa */
.img-mapa {
  width: 30%;
  height: 30%;
}

/* estilo de page-galeria */
.contenedorGaleria__img {
  position: relative;
  -webkit-transition: 1s;
  transition: 1s;
}

.contenedorGaleria__img:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: 1s;
  transition: 1s;
  z-index: 1;
}

/* estilo de page-mapa */
.contenedorMapa__info ul li {
  list-style: none;
}

/* img del footer */
footer {
  background-color: #000;
  /* estilo de auspiciantes en footer */
}

footer ul li img {
  width: 27px;
  height: 27px;
}

footer .auspiciantes {
  margin-top: -6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer .auspiciantes a img {
  width: 12rem;
  height: 8rem;
  border-radius: 10%;
  padding: 7px;
}
/*# sourceMappingURL=estilo.css.map */