$color-btn: #fff;
$color-hover: #000;
$color-h3: #0d6efd;
$size-titulo2: 2.2em;
$size-titulo1: 2.7rem;
$size-sm: 1.5em;
*{
    margin: 0;
    padding: 0;
}
// map
$colores:(
	button: #0d6efd,
	main: white,
    footer: black,
	);
	
	@each $valor, $color in $colores{
		.fondo--#{$valor}{
			background-color: $color;
		}
	}
// mixin
    @mixin sizes ($ancho, $alto){
		width: $ancho;
		height: $alto;
	}

/* estilo del header */
header{
    position: relative;
    background-color: black;
    color: #fff;
    overflow: hidden;
    width: 100%;
    &::before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    @include sizes(100%, 100%);
    opacity: 60%;
    background-image: url(../img/publico.jpg);
    background-repeat: no-repeat;
    background-position-y: 36%;
    background-size: cover;
}   & .nav-link{
    transition: 0.2s;
   &:hover{
    text-decoration: underline;
    text-shadow: 2px 3px 0 $color-hover; 
    transition: 0.2s;
    transform: scale(1.05);
    } }  & .logo{
    max-width: 250px;
    animation: palpitacion 2s infinite linear;
}   @keyframes palpitacion{
    0% {
        transform: scale(1);
    } 
    50% {
        transform: scale(1.2);
    }
    100%{
        transform: scale(1);
    }
} 
}

/* estilo de slider */
#slider{
    width: 100%;
    /* margin-top: 3rem; */
    border: hidden;
    overflow: hidden;
    &__leyenda{
        overflow: hidden;
        /* height: 100%; */
        display: flex;
        align-items: center;
        white-space: nowrap;
        animation-duration: 50s;
        animation-name: slidein;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
        h2{
            font-size: $size-titulo2;
            text-shadow: -3px 3px 0 #83bcf6;
        } } @keyframes slidein {
            from {
                margin-left: 100vw;
            }
            to {
                margin-left: -5000px;
            }
        }   
}

/* estilo del main */
#main{
    // background-color: $bg-main;
    box-shadow: inset 0 0px 100px  rgba(0,0,0,1);
    padding-left: 0;
    padding-right: 0;
      &__box{
        h1{
            font-size: $size-titulo1;
            // text-align: center;
    }   h2{
        font-size: $size-titulo2 * 1.2;
    }   span{
        font-weight: 900;
        text-shadow: -1px 1px 0 #83bcf6;
    }  &__parrafo{
        font-size: $size-sm;
        // text-align: center;
    }   & .artistas{
        @extend #main__box__parrafo;
        text-transform: uppercase;
        font-weight: 600;
        letter-spacing: 1px;
    }   & button{
        font-size: $size-sm;
    }   & ul li a{
        font-size: $size-sm;
    }   //estilo de la letra de la grilla//
        & .carousel-item p{
        font-size: $size-sm;
    } 
          }   
}
/* estilo de img page-mapa */
.img-mapa{
    @include sizes(30%, 30%);
}
/* estilo de page-galeria */
.contenedorGaleria__img{
    position: relative;
    transition: 1s;
    &:hover{
        transform: scale(1.1);
        transition: 1s;
        z-index: 1;
     }
}
 /* estilo de page-mapa */
 .contenedorMapa__info ul li {
     list-style: none;
 }
 /* footer */
 footer{
     width: 100%;
    & button{
        transition: 0.2s;
     &:hover{
           opacity: 80%;
           transition: 0.2s;
       }
   } & ul li:nth-child(-n+4){
       margin-right: 0.5rem;
   } & ul li img{
       @include sizes(27px, 27px);
        }
        /* estilo de auspiciantes en footer */
      & .auspiciantes{
        margin-top: -6px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;  
      & a img{
        @include sizes(12rem, 8rem);  
        border-radius: 10%;
        padding: 7px;
     } 
    }
    }
    @media (max-width: 370px){
        header .logo {
            width: 200px;
        }
    }
    @media (max-width: 990px){
        footer ul li:nth-child(-n+4) {
            margin-right: 0.3rem;
        }
        footer ul li img {
            @include sizes(22px, 22px);
        }
    }
    @media (max-width: 890px){
        footer ul li img {
            @include sizes(20px, 20px);
        }
    }
    
